*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
}

body{
    background-image: url(../img/fondo-piscina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

li{
    list-style: none;
}
h3{
    color: white;
}
p{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloque{
    margin: 5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 3rem;
}

.bloque img{
    max-width: 20rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.social{
    padding-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.social li a img{
     width: 3rem;
     margin-right: 0.5rem;
}

.social li a{
    line-height: 1;
}
.social li a:hover{
    font-weight: 800;
    color: rgb(158, 158, 255);
    
}
.social li{
    margin-right: 2rem;
}